@use 'sass:math'
@use 'sass:color'

@import config
@import product


//header
.headline
	background-color: black
	display: flex
	justify-content: space-around
	height: 80px
	.menu-block ul, .icons-block ul
		text-align: center
		vertical-align: middle
		padding: 0
		margin: 0
	.menu-list,.icons-list
		display: flex
		list-style: none
	.menu-list
		line-height: 80px
		&-item
			margin: 0 25px
		a
			color: white
			font-weight: 600
			font-size: 20px
			text-decoration: none
			position: relative
			&::before
				content: ''
				position: absolute
				left: 0
				bottom: -5px
				width: 0
				height: 2px
				background-color: white
				transition: width 0.5s
			&:hover:before
				width: 100%
	.icons-list
		display: flex
		align-items: center
		height: 100%
		&-item
			margin: 12px
			a
				color: white
				display: block
			i
				font-size: 28px
				&:hover
					font-size: 30px
					transition: ease 0.3s

.header
	display: flex
	justify-content: space-between
	align-items: center
	margin: 30px 0
	&-lang
		display: flex
		&-item
			margin-left: 10px
			position: relative
			&:nth-child(n+2)::after
				content: ''
				width: 1px
				height: 80%
				position: absolute
				left: -5px
				bottom: 0
				top: 4px
				background-color: $accent
		a
			color: $accent
			text-decoration: none
			font-size: 14px
			font-weight: 400
			&:hover
				text-decoration: underline
				font-weight: 500
	&-search
		position: relative
		&::before
			content: '\f002'
			font-family: "Font Awesome 6 Free"
			display: inline-block
			font-weight: 600
			font-size: 20px
			position: absolute
			bottom: 8px
			left: 12px
			z-index: 10
		input
			border: 1px solid #252525
			border-radius: 6px
			width: 298px
			height: 48px
			position: relative
			padding-left: 40px
			&::placeholder
				font-size: 18px
				color: #BCBFC7
			&:focus
				border: 2px solid #252525

//index.html main content
.banner
	position: relative
	&-desc
		position: absolute
		top: 170px
		right: 80px
		&-title
			font-size: 40px
			font-weight: 600
			width: 490px
			line-height: 150%
		&-button
			width: 305px
			height: 60px
			background: rgba(255, 255, 255, 0.27)
			border: solid 1px $accent
			border-radius: 6px
			margin: 60px auto
			a
				display: block
				height: 100%
				width: 100%
				text-align: center
				color: $accent
				line-height: 60px
				text-decoration: none
				font-size: 28px
				font-weight: 500
				&:hover
					color: $accent
			&:hover
				background-color: white
				transition: ease 0.5s
.day
	text-align: center
	font-weight: 500
	margin: 55px auto
	&-title
		font-size: 28px
		margin: 32px auto
	&-price
		font-size: 32px
	&-button
		width: 290px
		height: 60px
		border-radius: 6px
		background: $accent
		margin: 32px auto
		a
			display: block
			height: 100%
			width: 100%
			text-align: center
			line-height: 60px
			color: white
			font-size: 28px
			text-decoration: none
			&:hover
				color: white
		&:hover
			background-color: rgb(37, 37, 37, 0.8)
			transition: ease 0.5s
.trending
	margin: 0 auto
	max-width: 100%
	&-title
		font-size: 28px
		font-weight: 500
		text-align: center
	.slick-next:before,.slick-prev:before
		position: absolute
		top: -200%
		z-index: 20
		color: $accent
	&-slider
		&-item
			margin: 20px
			&-name
				font-size: 18px
				font-weight: 500
				height: 50px
				line-height: 130%
				margin: 10px 0
				a
					color: $accent
					text-decoration: none
					&:hover
						color: $accent
						text-decoration: underline
			&-rev
				color: #D4B073
				display: flex
				margin-bottom: 10px
				.stars
					margin-right: 10px
				.rev-count a
					color: $accent
			&-price
				display: flex
				.price-act, .price-disc
					font-size: 20px
					font-weight: 600
					margin-right: 10px
					span
						display: block
				.new-label
					align-self: center
				.price-through
					text-decoration: line-through
				.price-disc
					color: #8E0707
.second
	background-color: $accent
	width: 300px
	a
		color: white
		font-size: 22px

.subscribe
	display: flex
	justify-content: space-around
	align-items: center
	margin: 70px auto
	&-title
		font-size: 25px
		font-weight: 500
		width: 378px
		height: 76px
	&-form
		&-input
			width: 400px
			height: 60px
			border: 1px solid $accent
			border-radius: 6px
			margin-right: 20px
			padding-left: 10px
		input::placeholder
			font-size: 25px
			font-weight: 500
			color: #BCBFC7
		input:focus
			border-width: 2px
		&-button
			width: 320px
			height: 60px
			border-radius: 6px
			background: $accent
			color: white
			font-size: 21px
			padding: 0
			border: 1px solid $accent
			margin: 0
.benefits
	display: flex
	justify-content: space-around
	background: rgba(212, 176, 115, 0.1)
	padding: 50px 0
	&-item
		text-align: center
		&-img
			height: 75px
			display: flex
			align-items: center
			justify-content: center
		&-title
			font-weight: 500
			font-size: 25px
			margin-bottom: 10px
		&-link a
			font-size: 20px
			color: $accent
.instagram
	text-align: center
	margin: 50px auto
	&-title
		font-size: 25px
		font-weight: 500
	&-img
		display: flex
		justify-content: center

//footer

.footer
	display: flex
	justify-content: space-around
	background-color: $accent
	padding: 40px 0
	&-links
		&-title
			font-size: 20px
			font-weight: 600
			text-transform: uppercase
			color: white
		&-item
			margin: 3px
			a
				font-size: 18px
				color: white
				text-decoration: none
		&-social
			font-size: 20px
			font-weight: 500
			color: white
			&-block
				display: flex
				justify-content: space-between
			&-img
				font-size: 40px
				a
					color: white
					&:hover
						color: white
						font-size: 42px
						transition: ease 0.5s