@use 'sass:math'
@use 'sass:color'

@import config
@import product


//header
.headline
	background-color: black
	display: flex
	justify-content: space-around
	height: 80px
	.menu-block ul, .icons-block ul
		text-align: center
		vertical-align: middle
		padding: 0
		margin: 0
	.menu-list,.icons-list
		display: flex
		list-style: none
	.menu-list
		line-height: 80px
		&-item
			margin: 0 25px
		a
			color: white
			font-weight: 600
			font-size: 20px
			text-decoration: none
			position: relative
			&::before
				content: ''
				position: absolute
				left: 0
				bottom: -5px
				width: 0
				height: 2px
				background-color: white
				transition: width 0.5s
			&:hover:before
				width: 100%
	.icons-list
		display: flex
		align-items: center
		height: 100%
		&-item
			margin: 12px
			a
				color: white
				display: block
			i
				font-size: 28px
				&:hover
					font-size: 30px
					transition: ease 0.3s

.header
	display: flex
	justify-content: space-between
	align-items: center
	margin: 30px 0
	&-lang
		display: flex
		&-item
			margin-left: 10px
			position: relative
			&:nth-child(n+2)::after
				content: ''
				width: 1px
				height: 80%
				position: absolute
				left: -5px
				bottom: 0
				top: 4px
				background-color: $accent
		a
			color: $accent
			text-decoration: none
			font-size: 14px
			font-weight: 400
			&:hover
				text-decoration: underline
				font-weight: 500
	&-search
		position: relative
		&::before
			content: '\f002'
			font-family: "Font Awesome 6 Free"
			display: inline-block
			font-weight: 600
			font-size: 20px
			position: absolute
			bottom: 8px
			left: 12px
			z-index: 10
		input
			border: 1px solid #252525
			border-radius: 6px
			width: 298px
			height: 48px
			position: relative
			padding-left: 40px
			&::placeholder
				font-size: 18px
				color: #BCBFC7
			&:focus
				border: 2px solid #252525

//index.html main content
.banner
	position: relative
	&-desc
		position: absolute
		top: 170px
		right: 80px
		&-title
			font-size: 40px
			font-weight: 600
			width: 490px
			line-height: 150%
		&-button
			width: 305px
			height: 60px
			background: rgba(255, 255, 255, 0.27)
			border: solid 1px $accent
			border-radius: 6px
			margin: 60px auto
			a
				display: block
				height: 100%
				width: 100%
				text-align: center
				color: $accent
				line-height: 60px
				text-decoration: none
				font-size: 28px
				font-weight: 500
				&:hover
					color: $accent
			&:hover
				background-color: white
				transition: ease 0.5s
.day
	text-align: center
	font-weight: 500
	margin: 55px auto
	&-title
		font-size: 28px
		margin: 32px auto
	&-price
		font-size: 32px
	&-button
		width: 290px
		height: 60px
		border-radius: 6px
		background: $accent
		margin: 32px auto
		a
			display: block
			height: 100%
			width: 100%
			text-align: center
			line-height: 60px
			color: white
			font-size: 28px
			text-decoration: none
			&:hover
				color: white
		&:hover
			background-color: rgb(37, 37, 37, 0.8)
			transition: ease 0.5s